region = "us-east-1"

# ======================================================================================================================
# workloads_ou_id come from the outputs of 01-org-bootstrap
# Run: cd ../01-org-bootstrap && terraform output
# ======================================================================================================================
workloads_ou_id          = "ou-xxxx-xxxxxxxx"